<div class="room_name">
  <div class="left-header">
    <div class="room_name_display">hogefuga</div>
  </div>
  <div class="right-header">
    <div class="delete_button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="chat">
  <div class="message">
    <div class="half-top">
      <div class="user-name">Tom</div>
      <div class="message-date">2021/5/10 11:59:11</div>
    </div>
    <div class="half-bottom">おはよう</div>
  </div>
  <div class="message">
    <div class="half-top">
      <div class="user-name">Tom</div>
      <div class="message-date">2021/5/10 11:59:16</div>
    </div>
    <div class="half-bottom">こんばんは</div>
  </div>
</div>
<div class="writing">
  <div class="writing-form">
    <input type="text" placeholder="type a messsage" class="writing-box">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="submit-btn" >
</div>