<div class="user_name">
  <div class="name">
    <a href="#">Tom</a>
  </div>
  <div class="chat_make">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="room_index">
  <div class="chat_room">
    <a href="#">techroom1</a>
  </div>
  <div class="chat_room">
    <a href="#">techroom2</a>
  </div>
  <div class="chat_room">
    <a href="#">techroom3</a>
  </div>
  <div class="chat_room">
    <a href="#">techroom4</a>
  </div>
  <div class="chat_room">
    <a href="#">techroom5</a>
  </div>
  <div class="chat_room">
    <a href="#">techroom6</a>
  </div>
  <div class="chat_room">
    <a href="#">techroom7</a>
  </div>
  <div class="chat_room">
    <a href="#">techroom8</a>
  </div>
  <div class="chat_room">
    <a href="#">techroom9</a>
  </div>
  <div class="chat_room">
    <a href="#">techroom10</a>
  </div>
</div>